.btn {
  padding: 5px 10px;
  border-radius: 3px;
  background-color: white;
  margin: 5px;
  outline: none;

  &.All {
    border: 1px solid #0275d8;

    &:hover, &.select-all {
      background-color: #0275d8;
      color: white;
    }
  }

  &.Completed {
    border: 1px solid #5cb85c;

    &:hover, &.select-completed {
      background-color: #5cb85c;
      color: white;
    }
  }

  &.Active {
    border: 1px solid #f0ad4e;

    &:hover, &.select-active {
      background-color: #f0ad4e;
      color: white;
    }
  }
}