.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.container {
  width: 35%;
}

.todo-list {
  padding: 25px;
  border-radius: 15px;
  background-color: white;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

