.login-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .login-container {
    padding: 20px;
    border-radius: 5px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    width: 30%;

    .input-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 20px;

      .login-input {
        margin-bottom: 5px;
      }
    }

    .registration-container {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
  }
}