.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-list {
    padding: 10px;
    border-radius: 5px;
    background-color: beige;
}

.input-todo {
    border: transparent;
    border-radius: 3px;
    padding: 5px;
    background: white;
    outline: none;
}

.add-todo-button {
    background-color: #edd5dc;
    border-radius: 3px;
    padding: 5px;
    margin-left: 5px;
    outline: none;
    border: none;
}

