.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-todo-button {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid #007bff;
  color: #007bff;
  border-radius: 50%;
  margin-left: 25px;
  outline: none;

  &:hover {
    background-color: #007bff;
    color: white;
  }
}

.button-text {
  position: absolute;
  top: 5%;
  right: 30%;
  font-size: 30px;
}